.NavItem {
    background-color: purple;
    height: 18px;
    margin-top: 32px;
    margin-left: 18px;
    margin-right: 18px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
}

p {
    display: inline;
}