.smallCard {
    width: 23%;
    height: 155px;
    background-color: aqua;
  }

  .largeCard {
    width: 23%;
    height: 507px;
    background-color: red;
  }

  .image {
    height: 100%;
    width: 100%;
    background-color: pink;
  }