.smallIcon{
  height: 15px;
  width: 15.9px;
}

.bigIcon {
  height: 40px;
  width: 40px;
}

.oval {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.plus {
  width: 15.9px;
  height: 15px;
  object-fit: contain;
}

.bell {
  width: 14px;
  height: 16px;
  object-fit: contain;
}