.plusIcon {
  height: 40px;
  width: 40px;
}

.bellIcon{
  height: 15px;
  width: 15.9px;
  margin-top: 16px;
  margin-left: 20px;
}

.userIcon{
  height: 25px;
  width: 25px;
  margin-top: 14px;
  margin-left: 20px;
}

.arrowIcon {
  height: 6px;
  width: 12px;
  margin-left: 10px;
  margin-top: 16px;
}

.oval {
  width: 40px;
  height: 40px;
  margin-top: 22px;
  border-radius: 50%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.plus {
  width: 15.9px;
  height: 15px;
  object-fit: contain;
}

.bell {
  width: 14px;
  height: 16px;
  object-fit: contain;
}

.user {
  height: 25px;
  width: 25px;
}

.arrow {
  height: 6px;
  width: 12px;
}