.Base {
    text-align: center;
    color: white;
    background-image: url(./sexEducationPic.jpg);
    width: 1440px;
    height: 760px;
    width: 100%;
  }

  .backgroundImage {
    height: 100%;
    weight: 100%;
  }