.collectionOne {
    height: 154px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .collectionTwo {
    height: 509px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .collectionContainerOne {
    margin-left: 165px;
    margin-right: 165px;
    margin-top: -84px;
    display: flex;
    flex-direction: column;
  }

  .collectionContainerTwo {
    margin-left: 165px;
    margin-right: 165px;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
  }

  .collectionTitleOne {
    margin-top: 0px;
    margin-bottom: 20px;
    height: 24px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
  }

  .collectionTitleTwo {
    height: 24px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
  }